.quienes__titulo{
    color: #da2b1f;
    font-weight: 400;
    font-size: 3.1875rem;
    margin-bottom: 1rem;   
}

@media screen and (max-width: 780px) {
    .quienes__titulo{
        font-size: 2rem;
    }
}
