.personas{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .personas{
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 780px) {
    .personas{
        flex-direction: column;
    }
}
