.recetas{
    background:#dab997;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
    justify-content: center;
}

@media screen and (max-width: 780px) {
    .recetas{
        padding: 5rem 0 0 2rem;
    }
}

@media screen and (max-width: 320px) {
    .recetas{
        min-width: 240px;
    }
}
